<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preguntados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav class="navbar bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand fs-2 fw-semibold text-white ms-4">Preguntados</a>
            {{#logueado}}
                <button class="btn btn-outline-light me-4" type="button">Mi Perfil</button>
            {{/logueado}}
        </div>
    </nav>
<!--    <h1>Preguntados</h1>-->
</header>
