<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/homeStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<div class="contenedor container-fluid mt-5 d-flex flex-column align-items-center">

    <h3 class="fw-normal mt-5">Bienvenido, {{usuario}}!</h3>

    <div class="puntosCard card text-center mt-4 mb-5 p-4">
        <div class="card-body">
            <h1 class="card-title fw-bold mb-5">{{puntos}} puntos</h1>
            <a href="#" class="btn btn-lg fs-2 btn-outline-secondary fw-semibold">Ver ranking</a>
        </div>
    </div>

</div>

<div class="container-fluid mb-5 d-flex flex-column align-items-center">
    <a class="aBtnJugar mb-4" href="/partida/iniciarPartida">
        <button class="btn btn-lg btn-success fs-1 w-100 fw-semibold">JUGAR</button>
    </a>
    <a class="link-offset-2 link-underline link-underline-opacity-0 mt-4 fs-5 text-center" href="#">¿Queres sugerir una pregunta nueva? Presiona aqui!</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

