<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/partidaStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="partidaContainer container-fluid  mt-5">
    <a href="/home/mostrarHome">
        <button type="button" class="btn btn-outline-secondary fs-5">Salir de la partida</button>
    </a>
</div>

<div class="container text-center mt-5 mb-5">
    <h1 class="mb-5">¡Gira la ruleta!</h1>

    <div id="ruleta-container">
        <!-- Señalador -->
        <div class="señaladorRuleta"></div>

        <!-- Canvas -->
        <canvas id="ruleta" width="400" height="400"></canvas>
    </div>

    <!-- Botón -->
    <button id="girar" class="btn btn-dark btn-lg mt-3 d-block fs-2 fw-semibold mx-auto">GIRAR</button>

</div>

<!-- Modal Categoría -->
<div class="modal fade" id="categoriaModal" tabindex="-1" aria-labelledby="categoriaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="categoriaModalLabel">¡Categoría seleccionada!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <h3 id="categoriaSeleccionada" class="text-dark fw-bold"></h3>
            </div>
            <div class="modal-footer">
                <button type="button" id="continuarBtn" class="btn btn-success">Continuar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/zarocknz/javascript-winwheel@master/Winwheel.min.js"></script>

<script>
    // Asignamos las categorías al objeto global `window`
    window.categorias = [
        {{#categorias}}
            {
                nombre: "{{nombre}}",
                color: "{{color}}"
            }{{^last}},{{/last}}
        {{/categorias}}
    ];
    console.log("Categorías cargadas:", window.categorias);
</script>

<script src="../public/js/ruleta.js"></script>

</body>
</html>



