<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pregunta - {{categoria}}</title>
    <link rel="stylesheet" href="../public/styles/preguntaStyle.css">
</head>

<body>
<div class="container mt-5 text-center">
    <h2>Categoría: {{categoria}}</h2>
    <h3 class="mt-4">{{pregunta.pregunta}}</h3>

    <form method="POST" action="/partida/validarRespuesta">
        <input type="hidden" name="id_pregunta" value="{{pregunta.id}}">
        <input type="hidden" name="categoria" value="{{categoria}}">

        <button class="opcion" name="respuesta" value="A">{{pregunta.opcion_a}}</button>
        <button class="opcion" name="respuesta" value="B">{{pregunta.opcion_b}}</button>
        <button class="opcion" name="respuesta" value="C">{{pregunta.opcion_c}}</button>
        <button class="opcion" name="respuesta" value="D">{{pregunta.opcion_d}}</button>
    </form>
</div>
</body>
</html>
