<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<ul class="nav nav-pills justify-content-center mt-5 mb-5">
    <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="/home/mostrarHome">Preguntas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark fw-semibold" href="/reportes/mostrarReportes">Reportes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-dark fw-semibold active" aria-current="page" href="/sugerencias/mostrarSugerencias">Sugerencias</a>
    </li>
</ul>

<h1 class="text-center fw-bold mb-4">Sugerencias</h1>

<div class="container-fluid table-responsive">

    <table class="table table-bordered align-middle">
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Pregunta</th>
            <th scope="col">Categoria</th>
            <th scope="col">Opcion A</th>
            <th scope="col">Opcion B</th>
            <th scope="col">Opcion C</th>
            <th scope="col">Opcion D</th>
            <th scope="col">Correcta</th>
            <th scope="col">Accion</th>
        </tr>
        </thead>
        <tbody>
        {{#sugerencias}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{pregunta}}</td>
                <td>{{categoria_nombre}}</td>
                <td>{{opcion_a}}</td>
                <td>{{opcion_b}}</td>
                <td>{{opcion_c}}</td>
                <td>{{opcion_d}}</td>
                <td>{{correcta}}</td>
                <td>
                    <button type="button" class="btn btn-success fw-semibold mb-1 btn-agregar"
                            data-id="{{id}}"
                            data-bs-toggle="modal"
                            data-bs-target="#modalAgregarSugerencia">
                        Agregar
                    </button>
                    <a href="/modificarSugerencia/mostrarModificarSugerencia?id={{id}}"  class="btn btn-warning fw-semibold text-light mb-1">Modificar</a>
                    <button class="btn btn-danger fw-semibold mb-1 btn-borrar"
                            data-id="{{id}}"
                            data-bs-toggle="modal"
                            data-bs-target="#modalBorrar">
                        Rechazar
                    </button>
                </td>
            </tr>
        {{/sugerencias}}
        </tbody>
    </table>

</div>

<!-- Modal agregar sugerencia -->
<div class="modal fade" id="modalAgregarSugerencia" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar sugerencia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Seguro que querés agregar esta sugerencia como una nueva pregunta?
            </div>

            <div class="modal-footer">
                <form method="POST" action="/sugerencias/agregarSugerencia">
                    <input type="hidden" name="sugerencia_id" id="inputIdAgregar">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal confirmar borrar -->
<div class="modal fade" id="modalBorrar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Confirmar rechazado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Seguro que querés rechazar esta sugerencia? Esta acción no se puede deshacer.
            </div>

            <div class="modal-footer">
                <form id="formBorrar" method="POST" action="/sugerencias/borrarSugerencia">
                    <input type="hidden" name="sugerencia_id" id="inputIdBorrar">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Borrar</button>
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".btn-borrar").forEach(btn => {
        btn.addEventListener("click", () => {
            const id = btn.dataset.id;
            document.getElementById("inputIdBorrar").value = id;
        });
    });

    // Pasar el ID al hidden input del modal
    document.querySelectorAll(".btn-agregar").forEach(btn => {
        btn.addEventListener("click", () => {
            document.getElementById("inputIdAgregar").value = btn.dataset.id;
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>