.partidaContainer{
    width: 80vw !important;
}

#ruleta-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

#ruleta {
    width: 100% !important;
    height: auto !important;
    display: block;
}

.señaladorRuleta {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 20px solid black;
    transform: translateX(50%);
    rotate: 180deg;
    z-index: 10;
}