.sugerirPregutnaFormContainer {
    width: 30vw !important;
}


@media (max-width: 1400px) {
    .sugerirPregutnaFormContainer {
        width: 30vw !important;
    }
}

@media (max-width: 1100px) {
    .sugerirPregutnaFormContainer {
        width: 40vw !important;
    }
}

@media (max-width: 650px) {
    .sugerirPregutnaFormContainer {
        width: 75vw !important;
    }
}

@media (max-width: 400px) {
    .sugerirPregutnaFormContainer {
        width: 100vw !important;
    }
}